/* src/components/Hero.css */
.hero-section {
    text-align: center;
    margin-top: 100px;
    color: #fff;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 150px 20px;
    color: #fff;
    background: linear-gradient(to right, #1a1a1a, #000033)
  }
  
  .hero-section h2 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 70px;
    background: linear-gradient(to right, #91dbf0, #383232); /* Adjust colors */
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
  }  
  
  .cta-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap:30px;
  }
  
  .cta-buttons button {
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #0e355e;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .cta-buttons a {
    text-decoration: none;
  }
  
  .cta-buttons p.learn-more {
    display: inline-block;
    color: #61dafb;
    font-size: 25px;
    margin: 0;
    margin-left: 10px;
    margin-top: 17px;
    cursor: pointer;
    transition: color 0.3s; /* Add transition for color change */
  }
  .cta-buttons p:hover{
    transform: scale(1.1);
    background-color: none;
  }
 
  .cta-buttons button:hover {
    transform: scale(1.1);
  }
  