/* AboutUs.css */

.about-us {
    padding: 20px;
  }
  
  .section-title {
    font-size: 24px;
    color: #333;
  }
  
  .feature {
    margin-bottom: 20px;
  }
  
  .feature-title {
    font-size: 20px;
    color: #0066ff;
  }
  
  .feature-description {
    font-size: 16px;
    color: #666;
  }
  
  .usage {
    margin-top: 40px;
  }
  
  .steps {
    list-style-type: decimal;
  }
  
  .step {
    font-size: 16px;
    color: #333;
  }
  
  .features-section {
    text-align: center;
    padding: 80px 20px;
    margin-top: 50px;
    height: auto;
  }
  
  .features-container {
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
  }
  
  .feature-group {
    margin-left: 30px;
  }
  
  .feature-group h3 {
    font-size: 40px;
    text-align: left;
    color: #61dafb;
    font-weight: 700;
  }
  
  .feature-group p {
    font-size: 25px;
    color: #e2ecff;
    text-align: left;
  }
  
  .feature-row {
    display: flex;
    justify-content: center; /* Center the cards */
    gap: 80px; /* Adjust the gap between cards */
    margin-top: 50px;
    overflow: auto; /* Ensure proper wrapping on smaller screens */
  }
  
  .feature-card {
    flex: 0 0 40%;
    background-color: #31363da4;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .feature-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .feature-card h4 {
    margin-bottom: 10px;
    color: #61dafb;
    font-size: 35px;
  }
  
  .feature-card p {
    color: #abb2bf;
    font-size: 25px;
  }
  