/* src/components/Footer/Footer.css */
footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #282c34; 
    color: #fff; 
    padding: 15px;
  }
  .foot-left-section {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
  }
  
  .foot-right-section {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    
  }
  
  .foot-right-section a {
    color: #fff; /* Set your desired link color */
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 600; /* Adjust font weight as needed */
    font-size: 20px;
  }
  .foot-right-section a svg {
    margin-right: 5px; /* Adjust spacing between icon and text */
    margin-bottom: -3px;
  }
  
  .foot-right-section a:hover {
    color: #61dafb; /* Set your desired link hover color */
  }
  
  .foot-right-section a::before {
    /* content: '|'; */
    margin: 0 10px;
    color: #61dafb; /* Set your desired separator color */
  }
  
  /* Optional: Add styles for active link */
  .foot-right-section a.active {
    color: #61dafb; /* Set your desired active link color */
  }
  